.form-error {
  border: 1px solid red;
  padding: 1.2em;
  margin-bottom: 1.2em;
  background-color: rgba(255, 0, 0, 0.120);
}

strong {
  padding-top: 0.6em;
  color: red;
}

label {
  margin: 0.6em;
}