body {
    background-color: rgb(223, 215, 185);
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
      color: #0d1b97;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 40px;
 }
 h2{
     font-size: 20px;
 }
.job-title {
    background-color:#1726ad;
    color: #898dbe;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
#high {
    color: rgb(13, 27, 151);
}
ul {
    background-color: #333333;
    color: rgb(223, 215, 185);
    padding: 10px;
}
